<app-skip-link/>

<header id="main-header">
  <div class="nav-container">
    <nav class="nav">
      <button type="button">Logo</button>
      <ul class="nav-list">
        <li class="nav-item">Home</li>
        <li class="nav-item">About</li>
        <!--        About is a Drop down-->
        <li class="nav-item">Vacations</li>
        <!--        Vacations is a Drop down-->
        <li class="nav-item">Blog</li>
      </ul>
    </nav>
    <ng-container>
      <button [routerLink]="'/register'">Register</button>
    </ng-container>
  </div>
</header>
