<div class="wizard">
  <!-- Wizard Steps Navigation -->
<!--  TODO - Refactor to stepper bar-->
  <div class="wizard-header">
    {{containerTitle()}}
    @for (step of steps(); track $index) {
      <div [class.active]="currentStep === $index" [class.completed]="$index < currentStep">
        Step {{ $index + 1 }}: {{ step.title }}
      </div>
    }
  </div>

  <!-- Wizard Content -->
  <div class="wizard-content">
    @if (steps()[currentStep]) {
      <app-vp-wizard-step
        [component]="steps()[currentStep]?.component"
        [data]="steps()[currentStep]?.data"
        >
      </app-vp-wizard-step>
    }
  </div>

  <!-- Navigation Buttons -->
<!--&lt;!&ndash;  TODO - Refactor to component&ndash;&gt;-->
<!--  <div class="wizard-controls">-->
<!--    <button (click)="goBack()" [disabled]="currentStep === 0">Back</button>-->

<!--    @if (!isLastStep()) {-->
<!--      <button (click)="goNext()">Next</button>-->
<!--    }-->

<!--    @if (isLastStep()) {-->
<!--      <button (click)="finish()">Finish</button>-->
<!--    }-->
<!--  </div>-->

  <div class="wizard-controls">
    <button (click)="goBack()" [disabled]="currentStep === 0">Back</button>
    <button (click)="goNext()" [disabled]="currentStep === steps().length - 1">Next</button>
  </div>
</div>
