:host{

}

.form-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form{
    width: clamp(300px, 600px, 800px);
    display: flex;
    flex-direction: column;
    padding: 5vw 2vw;
    gap: clamp(1rem, 1.5rem, 2rem);

    .form-group-item{
      display: flex;
      flex-direction: column;

      .form-item{
        margin-inline-start: 0.1rem;
      }

      input{
        border-radius: 0.5rem;
      }
    }
  }
}
