<div class="footer-container">
  <footer>
    <div class="footer-main">
      <div class="footer-menu">
        <div class="footer-menu-items">
          <div class="menu-item">
            <!--            Place holder for now-->
            <ul>
              <li>Link1</li>
              <li>Link2</li>
              <li>Link3</li>
              <li>Link4</li>
            </ul>
          </div>
        </div>

        <div class="side-menu">
          <!--          place holder for now-->
          <ul>
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
            <li>Link 4</li>
          </ul>
        </div>
      </div>
    </div>
    <!--    Footer info-->
    <!--    app-footer-bottom-info-->
  </footer>
</div>
