@use "./assets/styles/_css-variables";
@use "./assets/styles/_a11y_styles";

:root{
  --header-bar-heigh: clamp(40px, 4vw, 70px);
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body{
  margin: 0;
}

.sr-only {
  @include perceived-by-screen-reader-only;
}
