:root{
  /* Basic colors */
  --white: #fff;
  --black: #000;
  --dark-grey: #707070;
  --grey: #d0d0d0;
  --light-grey: #f4f4f4;

  /* Brand colors */
  --vp-dark-blue: #1f5fa6;
  --vp-blue: #009dc3;
  --vp-bright-blue: #2ad5ff;
  --vp-light-blue: #96cdf2;
  --vp-light-blue-search: #96CDF280;
  --vp-dark-green: #459524;
  --vp-light-green: #b0c000;
  --vp-pastel-green: #61aa82;
  --shades-vp-dark-blue-highlights: #E1F9FF;
  --vp-yellow: #ffbb00;
  --vp-orange: #f37d00;
  --vp-red: #d96350;
  --vp-dark-pink: #cf4761;
  --vp-pink: #ef879b;
  --vp-emergency: #f7942d;
  --vp-emergency-highlights: #ffeaee;

  /* Brand shade colors */
  --vp-dark-blue-highlights: #baf0ff;
  --vp-blue-highlights: #e0f9ff;
  --vp-pink-highlights: #ffeff2;
  --vp-light-green-highlights: #f7f9e6;
  --vp-green-highlights: #f1faed;
  --vp-orange-highlights: #fff1e2;

  /* Fonts */

}
